# ==========================================================
# Konfigurasi user Airflow
# ==========================================================
AIRFLOW_UID=1000


# ==========================================================
# PostgreSQL Taxi Warehouse
# ==========================================================
WAREHOUSE_DB=taxi_warehouse
WAREHOUSE_USER=taxi_user
WAREHOUSE_PASSWORD=change_me
WAREHOUSE_PORT=5435


# ==========================================================
# Konfigurasi pipeline
# ==========================================================
MAX_ROWS=50000

